.promo {
    position: relative;
    background: url(../img/main_bg.jpg) center center / cover no-repeat;
    min-height: 100vh;
    padding-top: 213px;
    &__subtitle {
        position: relative;
        color: #fff;
        text-shadow: 0 0 10px #9e9e9e;
        @include before_circle;
    }
    &__title {
        margin-top: 10px;
        text-shadow: 0 0 10px #c1c1c1;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 270px;
        justify-content: center;
        align-items: center;
        gap: 44px;
    }
    &__link {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}
