.progress {
    padding-top: 120px;
    &__wrap {
        display: grid;
        justify-content: center;
        gap: 100px;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 70px);
    }
    &__item {
        display: grid;
        grid-template-columns: 310px 40px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 27px;
    }
    &__title {
        padding-left: 13px;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
        @include before_circle;
        &:before {
            left: 0;
            top: -7px;
        }
    }
    &__percentage {
        grid-column: 2/3;
        grid-row: 1/2;
        font-weight: 400;
        font-size: 14px;
        color: #000;
    }

    &__bar {
        position: relative;
        grid-column: 1/3;
        grid-row: 2/3;
        height: 14px;
        width: 100%;
        border-radius: 4px;

        background-color: #e8e4de;
        span {
            position: absolute;
            top: 0;
            height: 14px;
            border-radius: 4px;

            background-color: $main-color;
        }
    }
}
