.skills {
    padding-top: 126px;
    &__subtitle {
        text-align: center;
    }
    &__wrap {
        margin-top: 60px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 270px);
        grid-template-columns: repeat(2, minmax(270, auto));
        grid-auto-rows: minmax(270, auto);
        gap: 13px;
    }
    .item {
        padding: 30px;
        border: 1px solid #000;
        &__icon {
            img {
                max-height: 65px;
            }
        }
        &__title {
            margin-top: 20px;
        }
        &__text {
            margin-top: 15px;
        }
    }
}
