.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 167%;
    color: #000;
    z-index: 0;
    &_fz-36 {
        font-size: 36px;
    }
    &_fz-16 {
        font-size: 16px;
    }
    &_fz-48 {
        font-size: 48px;
        line-height: 125%;
        color: #fff;
    }
    &_fz-14 {
        font-size: 14px;
    }
    &__section {
        text-align: center;
        position: relative;
        @include before_circle;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
